.brandsContainer {
  padding: 80px 0;
  width: 100%;
  background-color: var(--background-color);
  color: var(--text-color);
  > h1 {
    text-transform: uppercase;
    font-size: 45px;
    padding: 20px 0;
    text-align: center;
    position: relative;
    &:after {
      position: absolute;
      content: "";
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 180px;
      height: 5px;
      border-radius: 30px;
      margin: auto;
      background-color: var(--main-color);
    }
  }
  .brands {
    padding: 50px 0;
    gap: 60px 20px;
    .card {
      background-color: var(--card-color);
      box-shadow: var(--fixed-shadow);
      transition: var(--main-transition);
      &:hover{
        box-shadow: var(--elevate-shadow);
        scale: 1.02;
      }
    }
    .brand {
      height: 500px;
      img {
        width: 300px;
        height: 150px;
        margin: 20px auto;
      }
      .text {
        font-size: 15px;
        height: 250px;
        overflow: hidden;
      }
      .link {
        margin-top: 10px;
        font-size: 22px;
        text-decoration: none !important;
        color: var(--second-color);
        cursor: pointer;
        transition: var(--main-transition);
        &:hover {
          margin-left: 3px;
        }
      }
    }
  }
}
